<a href="https://colab.research.google.com/github/fatimohegbinola/beginning-bioinformatics-/blob/main/notebooks%20/Bioinformatics_Module03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **<font color=blue>P2. </font>**```print()```writes to standard output (i.e. prints output to the screen)

####**TASK P2.1:** Print <font color = magenta>hello world</font>

In [ ]:
print("hello world")

hello world

# **<font color=blue>P3. </font>**```=``` is the ASSIGNMENT operator (assigns values to variables)
####**TASK P3.1:** Ask Gemini, "*Give me 3 examples to help practice understanding the assignment operator.*"

In [ ]:
x=5
x

5

In [ ]:
# Example 1: Simple assignment
age = 30
print(age)

# Example 2: Assigning the value of another variable
score1 = 100
score2 = score1
print(score2)

# Example 3: Assigning the result of an expression
width = 10
height = 5
area = width * height
print(area)

30
100
50

# **<font color=blue>P4. </font>** Data types: use ```type()``` to find a variable's "type"
####**TASK P4.1:** Ask Gemini, "*Give me examples of each data type to see how they look as outputs.*"

In [ ]:
type(x)

int

In [1]:
# Integer
my_integer = 10
print(my_integer)
print(type(my_integer))

# Float
my_float = 3.14
print(my_float)
print(type(my_float))

# String
my_string = "Hello, world!"
print(my_string)
print(type(my_string))

# Boolean
my_boolean = True
print(my_boolean)
print(type(my_boolean))

# List
my_list = [1, 2, 3, "a", "b"]
print(my_list)
print(type(my_list))

# Tuple
my_tuple = (1, 2, 3, "a", "b")
print(my_tuple)
print(type(my_tuple))

# Set
my_set = {1, 2, 3, "a", "b"}
print(my_set)
print(type(my_set))

# Dictionary
my_dictionary = {"name": "Alice", "age": 30}
print(my_dictionary)
print(type(my_dictionary))

10
<class 'int'>
3.14
<class 'float'>
Hello, world!
<class 'str'>
True
<class 'bool'>
[1, 2, 3, 'a', 'b']
<class 'list'>
(1, 2, 3, 'a', 'b')
<class 'tuple'>
{'a', 1, 2, 3, 'b'}
<class 'set'>
{'name': 'Alice', 'age': 30}
<class 'dict'>

# **<font color=blue>P5. </font>** Arithmetic and comparison operators
####**TASK P5.1:**   Complete Rosalind #1

In [ ]:
y=2+3
print(y)
x==y

5

True

# **<font color=blue>P6. </font>** ```input()``` gets input from the user

TASK P6.1

In [ ]:
name = input("Enter your name: ")
print("Hello, " + name)

Enter your name: Fatima
Hello, Fatima

####**TASK P6.2:** Solve Rosalind #1 again, but get user input for the values of a and b rather than modifying the code.

In [ ]:
a= int(input("enter a value for a:"))
b= int(input("enter a value for b:"))
c=a**2+b**2
print ("The sq of the hypotenuse is",c)

enter a value for a:983
enter a value for b:961
The sq of the hypotenuse is 1889810

# **<font color=blue>P7. </font>** ```list``` type variables (create, replace, append)

####**TASK P7.1**

In [ ]:
# Create a list with 3 elements and then print them

my_list = ["Hello", "World", "Charles Darwin"]
print (my_list[1])

World

####**TASK P7.2**

In [ ]:
# Substitute the item at index 2 in the list
my_list[2] = "Alfred R. Wallace"
print (my_list)

['Hello', 'World', 'Alfred R. Wallace']

####**TASK P7.3**

In [ ]:
# Append an item to the end of the list
my_list.append("Charles Darwin")
print (my_list)

['Hello', 'World', 'Alfred R. Wallace', 'Charles Darwin']

####**TASK P7.4**. Ask Gemini how to <font color=crimson>```insert```</font> a new item at index 1 in the list

In [ ]:
# On line #2 insert an item at index 1 of my_list

print (my_list)

['Hello', 'World', 'Alfred R. Wallace', 'Charles Darwin']

# **<font color=blue>P8. </font>** Slicing lists and strings

####**TASK P8.1** Slice and print only the middle two elements from the list created in P7 (i.e. only <font color=magenta>World</font> and <font color=magenta>Alfred R. Wallace</font>).

In [ ]:
print (my_list[2:4])

['Alfred R. Wallace', 'Charles Darwin']

####**TASK P8.2**: Print <font color=magenta>Wallace World</font> from **my_string** by slicing

In [ ]:
my_string = "HelloWorldCharlesDarwinAlfred R. Walace"
print (my_string[0:5],my_string[5:10])

# in the print command below input the correct index values to complete Task P8.2
print (my_string[33 :39],my_string[0 :5 ])

Hello World
Walace Hello

####**TASK P8.3**  **<font color = orange> Complete Rosalind Problem #2 Strings and Lists</font>**

In [ ]:
# Enter code for Rosalind 2 here:
input_string = input()
# Extract the two slices (inclusive of end indices)
slice1 = input_string[86 : 93 + 1]
slice2 = input_string[ 120 :129  + 1]

# Print the two slices with a space in between
print(slice1, slice2)

BRUZdPQjBnlPp3dBNeIHSFKlPXI3juHcYuwJqM2iDbxhR2EmomoefGTUv67kjHJ5b4fSBgUlntHnZXmp7qErAZBubulcusXNbneRmH7gU0COSLNrLHxN9rTFmicrolepis2vKxvzCK4sTNP9wu9Oi1HVz06uMMNFIXeZIGMLuAVxCehU9KKc13qCWNjMU.
Bubulcus microlepis

####**<font color=crimson>TASK 8.4 Commit to GitHub**</font>*italicized text*

# **<font color=blue>P9. </font>** ```if``` and ```else``` - conditional output

####**TASK P9.1** Create some code that subtracts two numbers if they are different or adds them if they are the same.

In [2]:
a=5
b=5

if a!=b:
  print(a-b)

else:
  print(a+b)

10

In [3]:
a=9
b=5

if a!=b:
  print(a-b)

else:
  print(a+b)

4

# **<font color=blue>P10.</font>** ```while``` loops

####**TASK P10.1** Create a while loop that runs 3 times

In [7]:
# initiate a counter
a = 1

# print "Counting!" while a <= 3
while a <= 3:
    print("Counting!" * a)
    a += 1

Counting!
Counting!Counting!
Counting!Counting!Counting!

# **<font color=blue>P11.</font>** ```for``` loops – looping over lists

####**TASK P11.1** Create a for loop to print each item in a list

In [8]:
names = ["Alice","Bob","Charley"]

for name in names:
    print ("Hello", name)

Hello Alice
Hello Bob
Hello Charley

In [10]:
names = ["Fatimoh","Ikeoluwa","Egbinola"]

for name in names:
    print ("Hello", name)

Hello Fatimoh
Hello Ikeoluwa
Hello Egbinola

# **<font color=blue>P12.</font>** ```for``` loops over a ```range()```of numbers

####**TASK 12.1** Using for and range(), create code that prints the numbers 0-9

In [11]:
# Create a variable to define the  number of iterations
iterations = 10

#Print the current item's value each time through the loop
for number in range(iterations):
    print (number)

0
1
2
3
4
5
6
7
8
9

####**TASK 12.2** Modify the code so that it only prints every 3rd number from 9 through 27 (i.e. including 27)

In [13]:
# Modify the code to print every 3rd number from 9 through 27
# start counter at 9
a = 9

# loop to print every 3rd number from 9 through 27
while a <= 27:
    print(a)
    a += 3

9
12
15
18
21
24
27

####**TASK 12.3** <font color = orange> **Complete Rosalind Problem #3 Conditions and Loops** </font>

In [14]:
# Enter code for Rosalind 3 here:
# Read input
a, b = map(int, input().split())

# Initialize sum
total = 0

# Loop through numbers in range
for i in range(a, b + 1):
    if i % 2 != 0:  # check if odd
        total += i

# Print result
print(total)

4031 8633
14576264

####**<font color=crimson>TASK 12.4 Commit to GitHub**</font>

# **<font color=blue>P13.</font>** File I/O – with open("filename", "mode") as filehandle:

####**TASK P13.1** Use the ```read()``` function to print the <font color = orange>practice dataset from Rosalind #4</font>

In [17]:
with open("practice.txt","r") as data:

    print(data.read())

    #print(data.readline())

    #print(data.readlines())

Bravely bold Sir Robin rode forth from Camelot
Yes, brave Sir Robin turned about
He was not afraid to die, O brave Sir Robin
And gallantly he chickened out
He was not at all afraid to be killed in nasty ways
Bravely talking to his feet
Brave, brave, brave, brave Sir Robin
He beat a very brave retreat

####**TASK P13.2** Explore file object functions to read and print practice.txt

In [22]:
with open("practice.txt","r") as data:

    print(data.read())

    print(data.readline())

    print(data.readlines())

Bravely bold Sir Robin rode forth from Camelot
Yes, brave Sir Robin turned about
He was not afraid to die, O brave Sir Robin
And gallantly he chickened out
He was not at all afraid to be killed in nasty ways
Bravely talking to his feet
Brave, brave, brave, brave Sir Robin
He beat a very brave retreat

[]

#<font color=blue>**P14.**</font> Store the content, close the file, and join ( ) the list

In [23]:
with open("practice.txt","r") as data:

  list_of_lines=data.readlines()

print (list_of_lines)

['Bravely bold Sir Robin rode forth from Camelot\n', 'Yes, brave Sir Robin turned about\n', 'He was not afraid to die, O brave Sir Robin\n', 'And gallantly he chickened out\n', 'He was not at all afraid to be killed in nasty ways\n', 'Bravely talking to his feet\n', 'Brave, brave, brave, brave Sir Robin\n', 'He beat a very brave retreat']

####**TASK P14.1** Read practice.txt into a list of lines. Then, after the file is closed, use the join ( ) function to print the contents so it looks like the original input.

In [28]:
print ("".join(list_of_lines))

Bravely bold Sir Robin rode forth from Camelot
Yes, brave Sir Robin turned about
He was not afraid to die, O brave Sir Robin
And gallantly he chickened out
He was not at all afraid to be killed in nasty ways
Bravely talking to his feet
Brave, brave, brave, brave Sir Robin
He beat a very brave retreat

#<font color=blue>**P15.**</font> Combining for loops with file objects

####**TASK P15.1** Use a for loop to print each line in practice.txt

In [29]:
with open("practice.txt","r") as data:

  for line in data:
    print (line)

Bravely bold Sir Robin rode forth from Camelot

Yes, brave Sir Robin turned about

He was not afraid to die, O brave Sir Robin

And gallantly he chickened out

He was not at all afraid to be killed in nasty ways

Bravely talking to his feet

Brave, brave, brave, brave Sir Robin

He beat a very brave retreat

In [32]:
with open("practice.txt","r") as data:

  for line in data:
    print (line.rstrip())

Bravely bold Sir Robin rode forth from Camelot
Yes, brave Sir Robin turned about
He was not afraid to die, O brave Sir Robin
And gallantly he chickened out
He was not at all afraid to be killed in nasty ways
Bravely talking to his feet
Brave, brave, brave, brave Sir Robin
He beat a very brave retreat

####**TASK P15.2** <font color=orange>**Complete Rosalind Problem #4 Working with Files**</font>

In [34]:
# Sample dataset as a string
data = """`Twas brillig, and the slithy toves
Some things in life are bad, they can really make you mad
  Did gyre and gimble in the wabe:
Other things just make you swear and curse
All mimsy were the borogoves,
When you're chewing on life's gristle, don't grumble give a whistle
  And the mome raths outgrabe.
This will help things turn out for the best
"Beware the Jabberwock, my son!
Always look on the bright side of life
  The jaws that bite, the claws that catch!
Always look on the right side of life
Beware the Jubjub bird, and shun
If life seems jolly rotten, there's something you've forgotten
  The frumious Bandersnatch!"
And that's to laugh and smile and dance and sing
He took his vorpal sword in hand:
When you're feeling in the dumps, don't be silly, chumps
  Long time the manxome foe he sought --
Just purse your lips and whistle, that's the thing
So rested he by the Tumtum tree,
So, always look on the bright side of death
  And stood awhile in thought.
Just before you draw your terminal breath
And, as in uffish thought he stood,
Life's a counterfeit and when you look at it
  The Jabberwock, with eyes of flame,
Life's a laugh and death's the joke, it's true
Came whiffling through the tulgey wood,
You see, it's all a show, keep them laughing as you go
  And burbled as it came!
Just remember the last laugh is on you
One, two! One, two! And through and through
Always look on the bright side of life
  The vorpal blade went snicker-snack!
And always look on the right side of life
He left it dead, and with its head
Always look on the bright side of life
  He went galumphing back.
And always look on the right side of life"""

# Split the string into lines
lines = data.split("\n")

# Print only the even-numbered lines (1-based indexing)
for i, line in enumerate(lines, start=1):
    if i % 2 == 0:
        print(line)

Some things in life are bad, they can really make you mad
Other things just make you swear and curse
When you're chewing on life's gristle, don't grumble give a whistle
This will help things turn out for the best
Always look on the bright side of life
Always look on the right side of life
If life seems jolly rotten, there's something you've forgotten
And that's to laugh and smile and dance and sing
When you're feeling in the dumps, don't be silly, chumps
Just purse your lips and whistle, that's the thing
So, always look on the bright side of death
Just before you draw your terminal breath
Life's a counterfeit and when you look at it
Life's a laugh and death's the joke, it's true
You see, it's all a show, keep them laughing as you go
Just remember the last laugh is on you
Always look on the bright side of life
And always look on the right side of life
Always look on the bright side of life
And always look on the right side of life

####**<font color=crimson>TASK 15.4 Commit to GitHub**</font>

#<font color=blue>**P16.**</font> ```for word in line.split()``` – looping over strings and splitting by any delimiter

####**TASK P16.1** Print each word in the ROSALIND Problem #5 Sample Dataset on a separate line.

In [ ]:
with open("practice_5.txt","r") as data:

  line=data.read()

for word in line.split():
    print (word)

We
tried
list
and
we
tried
dicts
also
we
tried
Zen

#<font color=blue>**P17.**</font> Python Dictionaries { }

####**TASK 17.1** Create and print your first dictionary

In [ ]:
sequences = {
    "H.neandertalensis":"ACGTCGCTCTGCTA",
    "H.sapiens":"ACGTCACTCTGCTA"
    }

print (sequences)

{'H.neandertalensis': 'ACGTCGCTCTGCTA', 'H.sapiens': 'ACGTCACTCTGCTA'}
ACGTCACTCTGCTA
>H.neandertalensis
ACGTCGCTCTGCTA
>H.sapiens
ACGTCACTCTGCTA
>P.troglodytes
ACGTCACTCTCCTA
>G.gorilla
ACGTCCTCCTA
>H.erectus
ACGTCACTCTGCTA

{'H.neandertalensis': 'ACGTCGCTCTGCTA',
 'H.sapiens': 'ACGTCACTCTGCTA',
 'P.troglodytes': 'ACGTCACTCTCCTA',
 'G.gorilla': 'ACGTCCTCCTA',
 'H.erectus': 'ACGTCACTCTGCTA'}

#<font color=blue>**P18.**</font> Manipulating and printing dictionaries

####**TASK 18.1** Modify line 8 to create a fasta file of the hominid sequences

In [ ]:
sequences["P.troglodytes"]="ACGTCACTCTCCTA"

sequences.update({"G.gorilla":"ACGTCCTCCTA", "H.erectus":"ACGTCACTCTGCTA"})

print (sequences["H.sapiens"])

for key,value in sequences.items():
     print (key,value)

ACGTCACTCTGCTA
H.neandertalensis ACGTCGCTCTGCTA
H.sapiens ACGTCACTCTGCTA
P.troglodytes ACGTCACTCTCCTA
G.gorilla ACGTCCTCCTA
H.erectus ACGTCACTCTGCTA

####**TASK P18.2** <font color= orange>**Complete Rosalind Problem #5  Dictionaries**</font>

####**<font color=crimson>TASK 18.3 Commit to GitHub**</font>

#<font color=blue>**P19.**</font> ```count()``` – counting things made easy

####**TASK P19.1** <font color= orange>**Complete Rosalind Problem #6  Counting DNA Nucleotides**</font>

####**TASK P19.2** Modify your code for the Rosalind #5 Dictionary problem so that it uses count( ) to count the words.

####**<font color=crimson>TASK 19.3 Commit to GitHub**</font>

#<font color=blue>**P20.**</font> Installing biopython

In [ ]:
!pip install biopython

Collecting biopython
  Downloading biopython-1.85-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (13 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from biopython) (2.0.2)
Downloading biopython-1.85-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 32.0 MB/s eta 0:00:00
Installing collected packages: biopython
Successfully installed biopython-1.85

In [ ]:
try:
  from Bio.Seq import Seq
  print("Biopython is installed correctly.")
except ImportError:
  print("Biopython is not installed or there was an import error.")

Biopython is installed correctly.

#<font color=blue>**P21.**</font> Seq( ) – a function to define sequence objects

In [ ]:
from Bio.Seq import Seq

my_sequence = Seq("GATGGAACTTGACTACGTAAATT")

####**TASK BP21.2** <font color=orange> **Complete Rosalind #7 Transcribing DNA into RNA**</font>

####**TASK BP21.2** <font color=orange> **Complete Rosalind #8  Translating RNA into Protein**</font>

####**<font color=crimson>TASK 21.3 Commit to GitHub**</font>

#<font color=blue>**P22.**</font> SeqIO – a function to parse( ) sequence files

####**TASK BP 22.1** Read in the practice dataset from Rosalind #9 and print the id of each sequence in the file.

In [ ]:
from Bio.SeqIO import parse

for seq_record in parse("practice_9.txt", "fasta"):
    print (seq_record.id)
    print (seq_record.seq)
    print (len(seq_record.seq))
    print (seq_record)

Rosalind_6404
Rosalind_5959
Rosalind_0808

#<font color=blue>**P23.**</font> SeqUtils.GC( ) – a function to compute GC content

In [ ]:
# Integer
my_integer = 10
print(my_integer)
print(type(my_integer))

# Float
my_float = 3.14
print(my_float)
print(type(my_float))

# String
my_string = "Hello, world!"
print(my_string)
print(type(my_string))

# Boolean
my_boolean = True
print(my_boolean)
print(type(my_boolean))

# List
my_list = [1, 2, 3, "a", "b"]
print(my_list)
print(type(my_list))

# Tuple
my_tuple = (1, 2, 3, "a", "b")
print(my_tuple)
print(type(my_tuple))

# Set
my_set = {1, 2, 3, "a", "b"}
print(my_set)
print(type(my_set))

# Dictionary
my_dictionary = {"name": "Alice", "age": 30}
print(my_dictionary)
print(type(my_dictionary))